.square {
	width: 200px;
	height: 200px;
	background: firebrick;
}

.container {
	width: 80%;
	overflow: hidden;
	padding: 200px;
	margin: auto;
}

button {
	width: 120px;
	height: 50px;
	background: #000;
	margin-top: 90px;
	border-radius: 100px;
	border: 0px;
	font-size: 20px;
	color: lightblue;
	position: relative;
	
}